body {
  font-family:Tahoma;
  font-size:10pt;
}

.info-panel {

}


progress {
  width: 40%;
  display: block; /* default: inline-block */
  margin: 2em auto;
  padding: 0px;
  border: 0 none;
  background: #af0000;
}
progress::-moz-progress-bar {
  background: green;

}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 25px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
  background: #00ff00;
}