<html xmlns:th="http://www.w3.org/1999/xhtml" lang="de-DE">

<head>
  <title>StreetComplete Statistics</title>
  <link rel="stylesheet" th:href="@{/style.css}" type="text/css">
  <script type="text/javascript">

    let createItem = item => {
      let $el = document.createElement('li');
      //$el.className = 'list-item';
      const total = item.pending + item.solved;
      const percentage = Math.round(item.solved * 100.0 / total);
      $el.innerHTML = `
      <b>${item.quest}</b>: pending=${item.pending}, solved=${item.solved}, total=${total}, percentage=${percentage}%`;
      let $pb = document.createElement('progress');
      $pb.setAttribute('max',100);
      $pb.setAttribute('value', percentage);
      $el.append($pb);
      return $el;
    }

    function init() {
      const headings = document.querySelectorAll("h2");
      headings.forEach(heading => {
        heading.addEventListener('click', () => {

          const datasetId = heading.dataset.id;
          document.querySelectorAll(".info-panel").forEach(panel => panel.innerHTML = "");
          const panelToShow = document.querySelector("#panel" + datasetId);

          fetch(`/data/quest/municipality/${datasetId}`)
            .then(data => data.json())
            .then(data => {
                panelToShow.append(...data.map(createItem));
            });
        });
      });
    }
  </script>
</head>

<body onload="init()">
  <h1>StreetComplete Quest Statistics</h1>
  <div>
    <div th:each="municipality:${municipalities}">
      <h2 th:text="${municipality.name}" th:data-id="${municipality.extid}">municipality</h2>
      <div class="info-panel" th:id="'panel'+${municipality.extid}"></div>
    </div>

    <!--
    <div th:each="stat : ${statistics}">
        <span th:text="${stat.municipality}">name</span>
        <b th:text="${stat.quest}">name</b> <span th:text="${stat.pending}">pending</span> Aufgaben von <span th:text="${stat.solved} + ${stat.pending}">solved</span> gelöst:
        <progress max="100" th:value="${stat.pending} / (${stat.solved} + ${stat.pending}) * 100"></progress>
    </div>
    -->
  </div>
</body>

</html>